1. Find the value of T(2) for the recurrence relation T(n) = 3T(n-1) + 12n, given that T(0)=5.
To find the value of T(2), we can recursively apply the recurrence relation:

T(2) = 3 * T(1) + 12 * 2
= 3 * (3 * T(0) + 12 * 1) + 12 * 2
= 3 * (3 * 5 + 12) + 24
= 3 * (15 + 12) + 24
= 3 * 27 + 24
= 81 + 24
= 105

So, T(2) = 105.

2. Given a recurrence relation, solve it using the substitution method:
a. T(n) = T(n-1) + c

To solve this recurrence relation, let's substitute T(n-1) into T(n):

T(n) = T(n-2) + c + c = T(n-2) + 2c
= T(n-3) + 3c
= T(0) + nc

Since T(0) is given as 5, the solution is:

T(n) = 5 + nc
--------------------------------------------------------------------------------------------------
b. T(n) = 2T(n/2) + n

To solve this recurrence relation, let's substitute T(n/2) into T(n):

T(n) = 2(2T(n/4) + n/2) + n
= 4T(n/4) + 2n + n
= 4(2T(n/8) + n/4) + 3n
= 8T(n/8) + 3n
= 2^k * T(n/2^k) + kn

Let's assume n = 2^k (for simplicity), then T(1) = c (some constant).

So, k = log(n) (base 2)

T(n) = 2^log(n) * T(1) + n * log(n)
= n * c + n * log(n)
-------------------------------------------------------------------------------------------------
c. T(n) = 2T(n/2) + c

To solve this recurrence relation, let's substitute T(n/2) into T(n):

T(n) = 2(2T(n/4) + c) + c
= 4T(n/4) + 2c + c
= 4(2T(n/8) + c) + 3c
= 8T(n/8) + 4c + 3c
= 2^k * T(n/2^k) + kc

Let's assume n = 2^k (for simplicity), then T(1) = d (some constant).

So, k = log(n) (base 2)

T(n) = 2^log(n) * T(1) + c * log(n)
= n * d + c * log(n)
----------------------------------------------------------------------------------------------------------
d. T(n) = T(n/2) + c

To solve this recurrence relation, let's substitute T(n/2) into T(n):

T(n) = T(n/4) + c + c = T(n/4) + 2c
= T(n/8) + 3c
= T(1) + log(n) * c

So, T(n) = d + log(n) * c

3. Given a recurrence relation, solve it using the recursive tree approach:
a. T(n) = 2T(n-1) +1

In the recursive tree approach, each level contributes a constant amount of work. Here, each level adds 1 to the total work, and there are n levels. So, the total work is n. Therefore, T(n) = n.

b. T(n) = 2T(n/2) + n

In this case, each level contributes a linear amount of work (n/2) to the total work. And there are log(n) levels. So, the total work is n * log(n). Therefore, T(n) = n * log(n).